  


    nav {
      width: 100%;
      background: #f6f6f6;
      font-size: 16px;
    }
    
    /* first stage */
    
    nav > ul {
      position: relative;
      display: flex;
      justify-content: left;
      margin: 0 auto;
      padding: 0;
      flex-direction: row;
      align-items: center;
    }
    
    nav a {
      display: block;
      color: #333;
      text-decoration: none;
    }
    
    nav ul li {
      color: #fff;
      list-style: none;
      transition: 0.5s;
    }
    
    nav > ul > li > a {
      padding: 10px 14px;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      color: black;
      font-weight: bold;
      font-size: 1rem;
      display: flex;

      span {
        margin-right: 4px;
      }

      &.badge {
        background-color: #bf0000;
        color: #fff;
      }

      svg {
        transform: rotate(180deg);
        margin-top: 8px;
      }

      &:hover{
        svg {
          transition: transform .5s ease-in-out;
          transform: rotate(0deg);
        }
      }
    }

    nav > ul > li:active {
      background-color: #ccc;
      font-weight: bold;
    }
    
    nav ul > li.submenu > a:after {
      position: relative;
      float: right;
      content: '';
      margin-left: 10px;
      margin-top: 8px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      border-bottom: 5px solid transparent;
    }
    
    nav ul > li.submenu:hover > a:after {
      margin-top: 2px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid #fff;
    }
    
    nav > ul > li:hover {
      background: #ffffff;
    }
    
    /* second stage (the mega-menu) */
    
    nav ul.megamenu {
      position: absolute;
      display: flex;
      flex-wrap: wrap; 
      width: 100%;
      top: -9999px;
      left: 0;
      background: #fff;
      text-align: left;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
      z-index: 2;
    }

    nav ul.megamenu ul li a {
      border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
      padding: 4px;
      white-space: nowrap;
      margin: 0 4px;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }

    nav ul.megamenu ul li:hover > ul {
      display: block;
    }
    
    nav ul li:hover ul.megamenu {
      top: 100%;
    }