body {overflow-x: hidden;}
.navContainer{
  width: 100%;
  max-width: 117rem;
  background: #e3e3e3;
  padding: 5px 10px;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .menu-icons {
      color: orangered;
      font-size: 2rem;
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1500;
      display: none;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5rem;
    }

    .nav-list {
      display: flex;
      width: 100%;
      align-items: center;

      li {
        position: relative;

        &.move-right {
          margin: auto 0 auto auto;
          line-height: initial;
        }

        &:hover > .sub-menu {
          top: 3rem;
          opacity: 1;
          visibility: visible;
        }
      }

      a {
        display: block;
        color: #000;
        padding: 0 1.5rem;
        font-size: 16px;

        &:hover {
          color: #f30
        }
      }

      .btn {
        padding: 1.3rem;
        display: inline-block;
        background-color: orangered;
        border: 2px solid orangered;
        border-radius: 5rem;
        transition: background-color 650ms;

        &:hover {
          color: orangered;
          background-color: rgba(0,0,0,0.2);
        }
      }

      .sub-menu{
        width: 14rem;
        display: block;
        position: absolute;
        border-top: 2px solid orangered;
        border-left: 1px solid rgba(0,0,0,0.1);
        border-right: 1px solid rgba(0,0,0,0.1);
        background-color: #ffffff;
        z-index: 100;
        top: 2rem;
        opacity: 0;
        visibility: hidden;
        transition: all 650ms ease;

        a {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-flow: row wrap;
          color: #000;
          padding: 0 0.5rem;
          font-size: 14px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          &:hover {
            background-color: rgba(0,0,0,0.025);
          }
        }

        &::before {
          content:"";
          position: absolute;
          top: -1.1rem;
          left: 3rem;
          border: 0.5rem solid transparent;
          border-bottom-color: orangered;
        }

        .sub-menu {            
          &::before{
            top: 0.7rem;
            left: -1.1rem;
            border: .5rem solid transparent;
            border-right-color: orangered;
          }

          border-top: 1px solid rgba(0,0,0,0.1);
          border-left: 2px solid orangered;
          top: 0;
          left: 120%
        }
        
        li {
          line-height: 2.5rem;

          &:hover > .sub-menu {
            top: 0;
            left: 100%
          }
        }
      }
    }      
  }
}
  
@media screen and (max-width: 1023px){
    .navContainer{  
      nav {        
        &.active {
          .menu-icons {
            .ion-md-close {
              display: block;
            }
  
            .ion-md-menu {
              display: none;
            }
          }                        

          .nav-list {
            display: flex;
          }
        }
        
        .menu-icons {
          display: block;

          .ion-md-close {
            display: none
          }
        }
  
        .nav-list {
          position: fixed;
          top: 46px;
          left: 0;
          height: 100vh;
          flex-direction: column;
          align-items: initial;
          background-color: #e3e3e3;
          z-index: 1000;
          display: none;
         
          li {
            &.move-right {
              margin: 0 auto 0 0;
              line-height: initial;
            }
            
            &:hover > .sub-menu{
              opacity: 1;
              visibility: visible;
              max-height: initial;
            }
          }
        
          .sub-menu {
            position: initial;
            border: 2px solid transparent;
            border-left-color: orangered;
            margin-left: 1rem;
            max-height: 0;
        
            &::before {
              display: none;
            }
          }     
        }
        }      
      }
    }

