@charset "utf-8";

// override defaults
@import './sass/variables.scss';

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/form/_all';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/dropdown.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

// Custom styles
a {
    color: #fa7e03;
}
.wrapper {
    max-width: 1370px;
    margin: 0 auto;
}
.carousel .slider {
    height: 260px;
}
.carousel {
    .slider {
        height: 260px;
    }

    .slide {
        .legend{
            background-color: rgba(0,0,0,0.6);
            font-size: 24px;
            top: 120px;
            width: 55%;
            bottom: auto;
            border-radius: 0;
            opacity: 1;
        }
    }
}
@import './sass/autosuggest.scss';
@import './sass/navbar.scss';
 